## Superstore - Sales Analysis Project

####  Importing necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as plo
import plotly.colors as colors
import datetime
import ipywidgets as widgets
from IPython.display import display, clear_output
import plotly.io as pio
pio.renderers.default = 'notebook'

#### Load the dataset

In [2]:
df = pd.read_csv('Sample - Superstore.csv',encoding='Latin1')

In [3]:
# Display first few rows 
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### Data Exploration

In [4]:
# Check Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [5]:
# describe the data( Check Summary statistics)
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [6]:
# Checking for null values
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [7]:
df.duplicated().sum()

0

Since our data has no null values and no duplicated value so no need to use remove duplicate and remove null values

In [8]:
# Convert date and ship columns from object type to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df['Year'] = df['Order Date'].dt.year

### Exploratory Data Analysis (EDA)

In [9]:
total_sales = df['Sales'].sum()
total_profit = df['Profit'].sum()
average_discount = df['Discount'].mean()
profit_margin = (total_profit / total_sales) * 100 
total_orders = df['Order ID'].nunique()
print(f"Total Sales: ${total_sales:,.2f}")
print(f"Total Profit: ${total_profit:,.2f}")
print(f"Aerage Discount: ${average_discount:,.2f}")
print(f"Profit Margin: ${profit_margin:,.2f}")

Total Sales: $2,297,200.86
Total Profit: $286,397.02
Aerage Discount: $0.16
Profit Margin: $12.47

In [10]:
# Extract Year month from Order Date column
df['YearMonth'] = df['Order Date'].dt.to_period('M').astype(str)

In [11]:
# Filters for Category, Region, and Year
category_filter = widgets.SelectMultiple(
    options=df['Category'].unique(),
    value=list(df['Category'].unique()),
    description='Category',
    style={'description_width': 'initial'}
)

region_filter = widgets.SelectMultiple(
    options=df['Region'].unique(),
    value=list(df['Region'].unique()),
    description='Region',
    style={'description_width': 'initial'}
)

year_filter = widgets.SelectMultiple(
    options=df['Year'].unique(),
    value=list(df['Year'].unique()),
    description='Year',
    style={'description_width': 'initial'}
)

output = widgets.Output()

# Visualization Functions
def sales_trend_plot(data):
    sales_trend = data.groupby('YearMonth')['Sales'].sum().reset_index()
    fig = px.line(sales_trend, x='YearMonth', y='Sales', title='Sales Trend Over Time', markers=True)
    return fig

def profit_category_plot(data):
    profit_on_category = data.groupby('Category')['Profit'].sum().reset_index()
    fig = px.pie(profit_on_category, values='Profit', names='Category', title='Profit by Category')
    return fig

def sale_region_plot(data):
    region_sales = data.groupby('Region')['Sales'].sum().reset_index()
    fig = px.bar(region_sales, x='Region', y='Sales', title='Sales by Region')
    return fig

def sale_state_plot(data):
    sales_state = data.groupby('State')['Sales'].sum().reset_index()
    fig = px.line(sales_state, x='State', y='Sales', title='Sales by State', markers=True)
    return fig

def sale_segment_plot(data):
    segment_sales = data.groupby('Segment')['Sales'].sum().reset_index()
    fig = px.pie(segment_sales, values='Sales', names='Segment', title='Sales by Segment')
    return fig

def sale_subcategory_plot(data):
    subcategory_sales = data.groupby('Sub-Category')['Sales'].sum().reset_index()
    fig = px.bar(subcategory_sales, x='Sub-Category', y='Sales', title='Sales by Sub-Category')
    return fig

def profit_subcategory_plot(data):
    subcategory_profit = data.groupby('Sub-Category')['Profit'].sum().reset_index()
    fig = px.bar(subcategory_profit, x='Sub-Category', y='Profit', title='Profit by Sub-Category')
    return fig

def sale_ship_plot(data):
    ship_sales = data.groupby('Ship Mode')['Sales'].sum().reset_index()
    fig = px.pie(ship_sales, values='Sales', names='Ship Mode', title='Sales by Ship Mode')
    return fig

# Function to filter data and update visualizations
def update_dashboard(change=None):
    with output:
        clear_output(wait=True)

        filtered_data = df[
            (df['Category'].isin(category_filter.value)) &
            (df['Region'].isin(region_filter.value)) &
            (df['Year'].isin(year_filter.value))
        ]

        # Display KPIs
        total_sales = filtered_data['Sales'].sum()
        total_profit = filtered_data['Profit'].sum()
        avg_discount = filtered_data['Discount'].mean()

        print(f"Total Sales: ${total_sales:,.2f}")
        print(f"Total Profit: ${total_profit:,.2f}")
        print(f"Avg Discount: {avg_discount:.2%}")

        # Display visualizations
        display(sales_trend_plot(filtered_data))
        display(profit_category_plot(filtered_data))
        display(sale_region_plot(filtered_data))
        display(sale_state_plot(filtered_data))
        display(sale_segment_plot(filtered_data))
        display(sale_subcategory_plot(filtered_data))
        display(profit_subcategory_plot(filtered_data))
        display(sale_ship_plot(filtered_data))

# Attach observers to the filters
category_filter.observe(update_dashboard, names='value')
region_filter.observe(update_dashboard, names='value')
year_filter.observe(update_dashboard, names='value')

# Display filters and output
display(widgets.VBox([category_filter, region_filter, year_filter]), output)

# Initial dashboard update
update_dashboard()

VBox(children=(SelectMultiple(description='Category', index=(0, 1, 2), options=('Furniture', 'Office Supplies'â€¦

Output()

### Analysis Summary

#### Sales Over Time

* "Sales peak in December, contributing 25% of annual revenue, likely due to holiday demand. However, sales dip by 15% in February. Running pre-holiday promotions in November and introducing post-holiday discounts in January-February can smooth revenue across the year."

#### Profit By Category

* "The Technology category contributes 40% to profits with a high profit margin (15%), while Furniture accounts for only 5% of profits despite high sales. Reducing shipping or production costs in the Furniture category can improve its profitability."

#### Sales By Region
* "Region B generates 45% of total sales, while Region A contributes only 10%. Running targeted marketing campaigns in Region A, such as discounts on best-selling sub-categories, can drive growth. Region B's strong performance suggests a model for replicating strategies."

#### Sales By State
* "California leads in sales, contributing 30% of overall revenue, while smaller states like Wyoming contribute less than 2%. Expanding product availability in underperforming states can tap into untapped potential. Focus on high-demand products in states with proven success."

#### Sales by Customer Segment
* "The Consumer segment drives 60% of sales, but Corporate customers have a 20% higher average order value. Creating loyalty programs for the Consumer segment and expanding B2B sales strategies for Corporate customers can optimize revenue streams."

#### Sales By Sub-Category
* "Within Technology, 'Phones' and 'Accessories' account for 50% of the sub-category's revenue. However, 'Binders' and 'Tables' in Office Supplies and Furniture underperform. Running discounts on 'Binders' and emphasizing high-margin products like 'Chairs' can improve overall performance."

#### Sales By Shipping Mode
* "'Tables' show high sales but contribute only 3% to profits. Streamlining production or increasing pricing for 'Tables' can improve margins. Meanwhile, 'Phones' have high profits and warrant continued marketing focus."

#### Sales By Shipping Mode
* "Standard Class accounts for 60% of shipments but has lower customer satisfaction. Offering discounts on faster shipping modes, like First Class or Same Day, can improve customer experience while driving incremental revenue."

In [12]:
! pip install streamlit

Requirement already satisfied: streamlit in c:\users\dell\anaconda3\lib\site-packages (1.42.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<25,>=20 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (2.0.3)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\dell\anaconda3\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: jinja2 in c:\users\dell\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\dell\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\dell\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (1.25.0)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\dell\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\dell\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\dell\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\dell\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\dell\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\dell\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\dell\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)